* {
    height: 100vh;
    width: 100vw;
}
div {
    background-color: lightblue;
    height: 100px;
    display: flex;
    background: green;
}
p{
    background-color: lightblue;
    /* display: flex; */
    height: 100px;
    width:100px;
}
h1{
    background-color: black;
    display: flex;
}
