<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.firstName}}</h1>
        <a href="/new/creation">Create</a>
        <a href="/logout">Logout</a>
    </header>
    <div>
        <h3>These are the recipes you know</h3>
        
        <table>
            <tr>
                <td>Name</td>
                <td>Under 30?</td>
                <td>Actions</td>
            </tr>
            <tr>
                {% for recipe in recipes %}
                <td>{{recipe.name}}</td>
                <td>{{recipe.time}}</td>
                <td><a href="/view">View</a><a href="/edit">EDIT</a><a href="/delete">DESTROY</a></td>
                {% endfor %}
            </tr>
        </table>
    </div>

</body>
</html>