<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.firstName}}</h1>
        <a href='/new/creation'>Create</a>
        <a href="/logout">Logout</a>
    </header>
    <div>
        <h3>These are the recipes you know</h3>
        
        <table>
            <tr>
                <td>Name</td>
                <td>Under 30?</td>
                <td>Actions</td>
            </tr>
            <tr>
                {% for creation in creation %}
                <td>{{creation.name}}</td>
                {% if creation.time == 1 %}
                <td>Yes</td>
                {% else %}
                <td>No</td>
                {% endif %}
                <td><a href="/view/creation/{{creation.id}}">View</a>
                    {% if creation.user_id == session.user_id %}
                    <a href="/edit/creation/{{creation.id}}">EDIT</a><a href="/delete/creation/{{creation.id}}">DESTROY</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>

</body>
</html>