<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>Add New Recipe</h1>
        <a href="/dashboard">dashboard</a>
        <a href="/logout">Logout</a>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <form action="/create/creation" method="post">
        <label for="name">name creation</label>
        <input type="text" name="name">

        <label for="description">what is this creation</label>
        <textarea name="description"></textarea>

        <label for="instructions">How Do I Make</label>
        <textarea name="instructions"></textarea>

        <label for="date">when was this made</label>
        <input type="date" name="date">

        <label for="time">under 30 minutes??</label>
        <input type="radio" name="time" value="0">Yes
        <input type="radio" name="time" value="1">No
        
        <input type="submit" value="new creation">

    </form>

</body>

</html>