<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
</head>
<body>
    <form action="'/save'">
        <label for="firstname">First Name Sucka:</label>
        <input type="text" name="firstname">
        <label for="lastname">Last Name Dude:</label>
        <input type="text" name="lastname">
        <label for="email">Whats That Email:</label>
        <input type="text" name="email">
        <label for="password">Make Sure You Safe Make a Password</label>
        <input type="text" name="password">
        <label for="password">OK Retype It Make Sure It Good</label>
        <input type="text" name="password">
        <input type="submit" value="CREATE">
    </form>
    <form action="'/userpage'">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="password">Password:</label>
        <input type="text" name="password">

    </form>
</body>
</html>