<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/create/dojo" method="post">
            <h2>DOJO</h2>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <input type="submit" value="Add Dojo">
        </form>
    </div>
    <div>
        <h2>Dojos</h2>
        {% for d in all_dojos %}
        <p>
            <a href="/dojo/{{d.id}}">{{d.name}}</a>
        </p>
        {% endfor %}
    </div>
    <a href="/ninjas">Add Ninja</a>
</body>

</html>