<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET THEM EMAILS</title>
</head>

<body>
    <form action="/" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <label for="email">Email:</label>
        <input type="text" name="email">
        <input type="submit" value="Add Email" action="/success">
    </form>
    <a href="/val">EMAILS</a>
</body>

</html>